* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {

    display: flex;
    flex-direction: column;
    background-color: rgb(35, 3, 84);
    color: whitesmoke;
    text-transform: capitalize;
    
}

h1 {
    padding: 20px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: solid 2px rgb(249, 87, 249);
    border-radius: 15px;
    color: gold;
    box-shadow: 1px 1px 20px fuchsia;
    -webkit-animation: random 20s infinite;
    animation: random 20s infinite;
}

@keyframes random {

    0% {
        background-color: rgb(73, 5, 122);
    }

    25% {
        background-color: fuchsia;
    }

    50% {
        background-color: rgb(73, 5, 122);
    }

    75% {
        background-color: fuchsia;
    }

    100% {
        background-color: rgb(73, 5, 122);
    }

}


.initial {

    font-family: 'Courier New', Courier, monospace;
    margin: 60px;
    color: red;
    text-decoration: underline;
    text-align: center;
}

li {
    justify-content: center;
    margin: auto 0%;
    list-style: none;
    display: flex;
    margin-top: 25px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;


}

.redes {

    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: chartreuse;
    text-decoration: none;
    border: solid 2px fuchsia;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(85, 4, 247);
    justify-content: center;

}

.redes:hover {

    color: red;
    background-color: rgb(213, 249, 154);
    box-shadow: 1px 1px 20px chartreuse;
    border: solid 2px chartreuse;

}


li img {
    box-shadow: none;
    margin: auto 46%;
}

.lite {
    width: 60px;
}


.logon {
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 15px blueviolet;
    margin: 15px;
}

.logon:hover {


    border-radius: 50%;
    box-shadow: 1px 1px 25px white;

}

footer {
    border-radius: 5px;
    background-color: rgb(223, 44, 239);
    color: gold;
    text-align: center;
    font-size: small;
    margin-top: 50%;
    border-top: 1px solid fuchsia;
    padding-top: 5%;
    padding-bottom: 4%;
    box-shadow: 1px 1px 30px fuchsia;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;


}

@media (max-width:400px){

    li{
        flex-direction: row;
        
       
    }

    


}